* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

/* GLOBAL SETTINGS */ 

    /* ~ FONTS ~ */

@font-face {
    font-family: 'ambroiseregular';
    src: url(./webfontkit-20221031-144503/ambroise_regular-webfont.woff2) format('woff2'),
         url(./webfontkit-20221031-144503/ambroise_regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'soleil';
    src: url(./soleil-cufonfonts/SoleilLight.otf);
}

@import url(//db.onlinewebfonts.com/c/9d25ea5c587d0f9d470aa9a3634735ea?family=ETmodules);


 /* ~ BODY, LISTS, ANCHORS & TITLE ~ */

body {
    font-size: 16px;
    font-family: 'soleil';
 
}

p { 
    line-height: 1.7em;
    margin: 0 0 10px 0;
    text-align: justify;
    padding: 0;
     
}

header {
    background-color: #262626;
}

li {
    list-style: none;
}

a {
    color: #fff; 
    text-decoration: none ;
}

h2 {
    font-family: "ambroiseregular";
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    color: #B4B4B4;   
}

h3 {
    font-family: 'ambroiseregular';
    font-size: 20px;
    font-weight: 300;
    color: #629694;
    
}


h5 {
    color: #666;
	font-size: 17px;
	font-style: italic;
	margin-bottom: 30px;
    float: right;
}

/*  RESPONSIVE <3 */

@media (min-width: 430px) {

     /* ~ PARALLAX ~ */
    .parallax {
        display: block !important;
    }

    .parallax2 {
        display: block !important;
    }

    .parallax3 {
        display: block !important;
    }

    .parallax4 {
        display: block !important;
    }

     /* ~ TITLES ~ */
    h2 {
        font-size: 100px;
    }
    h3 {
        font-size: 45px;
    }

     /* ~ CONTAINERS ~ */
    .container_sec1 {
        display: flex;
        flex-direction: row !important;
       
    }
    .container_sec1_left {
        flex-direction: row !important;
        flex: 1;
    }

    .container_contexte {
        display: flex;
        width: 1140px !important;
        flex-direction: row !important;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        
    }

    .contexte1 {
        display: flex;
        flex: 1;
        background: #e8e7e7;
        padding: 20px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        transition: transform .2s;
      
    }
    .contexte2 {
        display: flex;
        width: 50%;
        flex: 1;
        background: #e8e7e7;
        justify-content: center;
        margin: 10px;
        padding:20px;
        justify-content: center;
        align-items: center;
       
    }
    .container_actualite {
        display: flex;
        width: 100%;
        flex-direction: row !important;
    }

    .container_evenement { 
        display: flex;
        flex-direction: column;
        width: 35% !important;
        margin-right: auto;
        margin-left: 30px; 
        position: relative;
        background: rgb(98,150,148);
    
    }

    .container_evenement_pic { 
        display: flex;
        width: 400px;
        position: relative;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    
    }

    .container_content_actualite {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin-left: 30px;
        margin-right: 30px;
        position: relative;   
    
    }
    .container_evenement h3 {
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        font-size: 40px;
    }

    .container_ressources { 
        display: flex;
        width: 1140px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-left: 160px !important;
        flex-direction: row !important;

    }

    .child1_ressources { 
        display: flex;
        flex-direction: column;
        width:50%;
        margin-right: 40px;
        font-size: 17px;
     
    }

    .child2_ressources { 
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        width:100%;
    }

    .child4 {
    display: flex;
    flex-direction: column;
    width: 100%;

    }

    .container_ressources2 { 
        display: flex;
        width: 1140px !important;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
    
    }

    .container_form {
        display: flex;
        flex-direction: column;
         margin-left: auto;
         margin-right: auto;
         width: 1140px;
     }

      /* ~ BUTTON FORM ~ */

    input[type=submit] {
        border: 1px solid #29575E;
        padding: 15px;
        margin-left: 13px;
        text-transform: uppercase;
        background: #29575E;
        color: #fff;
        width: 11.4vw;
        height: 3.8vw;
    }

     /* ~ FOOTER DISPLAY ~ */

    footer { 
        display: block !important;
    }

    /* FOR FIXED NAV */ 

    main { 
        padding-top: 70px ;
    }

    /* STICKY NAV */

    .navbar {
        min-height: 70px;
        width: 100%;
        top: 0;
        background: #262626;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        position: sticky;
        z-index: 1;
      
    }

    /* RESPONSIVE DETAILS */

    .citations { 
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px !important; 
        margin-top: 40px;
        border: 1px solid rgba(0, 0, 0, .02);

}
    details[open] > p {
        animation: sweep .6s ease-in-out;
        margin-left: 150px;
        margin-right: 200px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
    }

    details p { 
        margin-left: 150px !important;
        margin-right: 200px !important;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
       
    }

}

/* NAVBAR */

main { 
    padding-top: 70px ;
}

.navbar {
    min-height: 70px;
    width: 100%;
    top: 0;
    background: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    z-index: 1;
  
}

.nav-menu { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-item {
    transition: 0.7s ease;
}

.nav-item:hover { 
    color: #629694;
}

    /* ~ HAMBURGER AND CROSS ~ */ 

.bar{ 
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #fff;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

    /* ~ NAV MENU OUT OF THE BOX ~ */
.nav-menu{
    position: fixed;
    left: -100%; 
    top: 70px;
    gap: 60;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;  
    text-transform: uppercase;  
    padding: 30px;
    z-index: 1;
}

nav-item{
    margin: 16px 0;
}

.nav-menu.active { 
    left:0;
    z-index: 1;
}

/* SPLASH */ 

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 200;
    background-color: #262626;
    text-align: center;
    line-height: 30vh;
    color: #fff;
    text-transform: uppercase;
    
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: -10;
    background-color: #DCDCDC;
    text-align: center;
    line-height: 30vh;
    transition: all 0.5s;
    
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* FOOTER */

footer {
   background: #262626;
    padding: 0 56px;
    margin-top: 20px;
    display: none;
}

.container_footer { 
    width: 100%;
    height: 300px;
    display: flex;
    background: #262626;
    padding-top: 50px;
    color: #fff;
}

.foot_logo {
    font-size: 2em;
    text-transform: uppercase;  
}

.container_footer p { 
    font-size: 15px;
    text-transform: uppercase;  
}

.divider { 
    border-top: 1px solid #fcfcfc;
    align-items: center;
    padding-right: 200px
}

.child_foot1 {
    width: 25%;
   
}

.news {
    width: 40%;
    margin-top: 40px;
}

.media {
    display: flex;
    width: 18%;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
    flex-direction: column;
}

.media p { 
    text-align: center;
}


/* Button contact */ 

.button_contact a  {
    font-size: 15px;
    line-height: 20px;
    padding: 8px 20px;
    font-weight: 500;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2px;
    
}

.button_contact a:hover { 
    border-color: #262626 ;
    transition: 300ms;
    transform: 200s ease;
    background: white;
    color: #000;
    
}


.logo_media img { 
    width: 40px;
    padding-top: 40px;
    padding-right: 5px;
}

.contact {
    width: 12%;
    margin-top: 40px;
}

.button_contact { 
    padding-top: 40px;
}
/* BUTTON & FORM */ 

input[type=text] {
    background: #262626;
    color: #fff;
    padding: 15px;
    width: 20vw;
    height: auto;
    text-transform: uppercase;
    border: 1px solid #fff;
}

input[type=submit] {
    border: 1px solid #29575E;
    padding: 15px;
    margin-left: 13px;
    text-transform: uppercase;
    background: #29575E;
    color: #fff;
}

input[type=email] {
    background: #262626;
    color: #fff;
    padding: 15px;
    width: 20vw;
    height: auto;
    text-transform: uppercase;
    border: 1px solid #fff;

}

#subject {
    background: #262626;
    color: #fff;
    padding: 15px;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    border: 1px solid #fff;
    resize: vertical
}


input[type=submit]:hover {
    background: #629694;
    color: #fff
}

.subfoot { 
    display: flex;
    width: 100%;
    background: #262626;
    color: #fff;
    padding-top: 20px;
}

.rights {
    display: flex;
    width: 50%;
}

.cookies {
    display: flex;
    width: 50%;
}

.cookies p { 
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 13px;
}

.cookies a:hover { 
    color: #29575E;
    transition: all 200ms ease;
}

/* ~ PARALLAX ~ */

.parallax { 
    /* The image used */
    background-image: url("./images/rimbaud-street.png");
  
    /* Set a specific height */
    min-height: 550px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }


  .parallax2 { 
    /* The image used */
    background-image: url("./images/poemes-darthur-rimbaud-1600x900.jpg");
  
    /* Set a specific height */
    min-height: 550px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }

  .parallax3 { 
    /* The image used */
    background-image: url("./images/vf_rimbaud_verlaine_cover_4734.webp");
  
    /* Set a specific height */
    min-height: 550px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }

.parallax4 { 
    /* The image used */
    background-image: url("./images/rimbaud-ressources.jpeg");
  
    /* Set a specific height */
    min-height: 550px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }

/* SECTION 1 PAGE INDEX */

.container_sec1 { 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.container_sec1_left {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    max-width: 1140px;
    justify-content: center;
    position: relative;
    flex-direction: column;

    
}
.container_title { 
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
 
}

.container_subtitle { 
    padding: 0 10px 10px 10px;

}

.container_p_content {
    padding: 20px 20px;
}


.container_content { 
    flex: 1;
    height: auto;
}


.container_content_left {
    flex: 1;
    height: auto;
}

.container_contexte { 
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    
}
.contexte1 {
    display: flex;
    flex: 1;
    background: #e8e7e7;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
  
}

.contexte2 {
    display: flex;
    flex: 1;
    background: #e8e7e7;
    justify-content: center;
    margin: 10px;
    padding:20px;
    justify-content: center;
    align-items: center;
   
}

.contexte1 a:hover { 
    color: #629694;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contexte2 a:hover { 
    color: #629694;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contexte1 > a {
    color: #000;
    transition: transform .2s;
}

.contexte2 > a {
    color: #000;
    transition: transform .2s;
}

.container_pic {
    display: flex;
    flex: 1;
    justify-content: center;
    height: auto;
}

.container_pic > img { 
    max-width: 500px;
}

.container_newsletter { 
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin: 50px 0;
   
}

.citations { 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, .02);

}

details {
    cursor: pointer;
}

details summary { 
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 19px;
    list-style: none;
    transition: margin 150ms ease-out;


}
      
details summary:hover {
    color:  #629694;
    transition: all 300ms ease;
}

    /* ~ FOR SAFARI DONT DISPLAY ARROW ~ */ 

details summary::-webkit-details-marker {   
    display:none; 
 }
 


i { 
    padding-right: 10px;
}

details[open] i {
    display: none;
    
}


details p { 
    padding: 0 30px 0 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
   
}


details[open] {
    border-left: 1px solid #629694 ;
    background-color: #F1F0F0;
    padding-left: 29px;
    transition: padding 150ms ease-out;

}
  
details[open] > p {
    animation: sweep .6s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    

 }

 @keyframes sweep {
    0%    {opacity: 0; margin-left: 150px; margin-right: 200px;}
    100%  {opacity: 1; margin-left: 150px; margin-right: 200px;}
    
  }

.p_align {
    text-align: right;

}
.button_letter {
    display: flex;
    width: 550px;
    border: 1px solid #29575E ;
    border-radius: 6px;
    justify-content: center;
}

.button_letter a { 
    display: flex;
    padding: 20px ;
    color: #29575E;
    text-align: center;
    align-items: center;
}

.button_letter a:hover{
    width: 100%;
    justify-content: center;
    color: #fff;
    background: #29575E;
    transition: all 300ms ease;
}


/* CONTACT PAGE */ 

.contact_page { 
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.title_contact { 
    display: flex;
}

.title_contact h3 {
    font-size: 100px;
}

.container_form {
   display: flex;
   flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form { 
    margin: 10px auto 10px auto;
}

#name, #prenom, #email, #objet { 
    width: 100%;
    margin-bottom: 20px;
}

.form label {
    text-transform: uppercase;
    font-weight: 500;
}

.form [type=submit] {
    margin-top: 10px;
}



/* ACTUALITÉ */ 

.container_actualite {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container_evenement { 
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: 30px; 
    position: relative;
    background: rgb(98,150,148);

}

.container_evenement strong { 
    font-size: 18px;
}
.container_evenement p {
    margin-bottom: 30px;
    padding: 0 20px;
    color: #fff
}

.container_evenement h3 {
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.container_content_actualite h3{
    padding-bottom: 20px;
    padding-left: 30px;

}

.container_content_actualite {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;   

}

.container_evenement img {
    display: block;
    max-width: 100%;
    transition: all 0.3s;
    width: 100%;
    height: auto;
    transform: scale(1);
   
   
}

.container_evenement_pic { 
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}

.container_evenement_pic:hover img{ 
    transform: scale(1.1);
}

h4 {
    font-size: 20px;
    padding-bottom: 10px;

}


.actu-pic img {
    width: 100%;
    padding-bottom: 10px;
}

.more {
    width: 150px;
    border: 1px solid #29575E;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    background: #29575E;
    color: #fff;
}

.more:hover {
    background: #629694;
}

.content_actu { 
    padding: 0 30px 0 30px;
}


/* RESSOURCES PAGE */

.container_ressources { 
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
}

.child1_ressources { 
    display: flex;
    flex-direction: column;
    width:100%;
    margin-right: 40px;
    font-size: 17px;

	 
}

.child1_ressources h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
    line-height: 1.2;
    font-size: 24px;

}


.child1_ressources p:first-line {
	font-variant: small-caps;
	letter-spacing: 1px;
}

.child2_ressources { 
    display: flex;
    flex-direction: column;
    width:100%;
}


.child2_ressources h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
    line-height: 1.2;
    font-size: 24px;

}
.child2_ressources p:first-line {
	font-variant: small-caps;
	letter-spacing: 1px;
}

/* ~ CONTAINER AUDIO ~ */ 

.container_ressources2 { 
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;

}


.child3 {
    display: flex;
    width: 20%;
    
}
.child3 i { 
    font-size: 100px;
    color: #629694;
    margin-top: 10px;
    transition: all 300ms ease;
}

.child3 i:hover { 
    transform: scale(1.2);
    color: #29575E;
}
.child4 { 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
}

.child4 li { 
    padding: 10px 0;
}


.child4 a { 
    color:#000
}

.child4 a:hover { 
    color: #629694;
}


.child5 {
    display: flex;
    width: 20%;

}
.child5 i { 
    font-size: 100px;
    color: #629694;
    margin-top: 10px;
    transition: all 300ms ease;
}

.child5 i:hover { 
    transform: scale(1.2);
    color: #29575E;
}

#title_media {
    font-size: 24px;
}